[2014-12-04 14:31] kytrinyx opened #1 "How to set up a local dev environment"
See issue exercism/exercism.io#2092 for an overview of operation welcome contributors.

---

Provide instructions on how to contribute patches to the exercism test suites
and examples: dependencies, running the tests, what gets tested on Travis-CI,
etc.

The [contributing document](https://github.com/exercism/x-api/blob/master/CONTRIBUTING.md)
in the x-api repository describes how all the language

[2015-03-16 13:01] kytrinyx opened #2 "Add helpful information to the SETUP.md"
The contents of the SETUP.md file gets included in
the README.md that gets delivered when a user runs the `exercism fetch`
command from their terminal.

At the very minimum, it should contain a link to the relevant
language-specific documentation on
[help.exercism.io](http://help.exercism.io).

It would also be useful to explain in a generic way how to run the tests.
Remember that this file will b

[2015-04-23 03:23] kytrinyx opened #4 "Launch planning"
_Note: the launch checklist was woefully outdated, since this got created over two years ago, so I deleted it._

If you are interested in leading the charge on getting this track launched, then comment below, and I'll help get this party started based on whatever is current at the time.

We have a launch guide that we'll keep up to date with changes here: https://github.com/exercism/docs/blob/mast

[2016-01-21 00:56] kytrinyx opened #7 "Move exercises to subdirectory"
The problems api (x-api) now supports having exercises collected in a subdirectory
named `exercises`.

That is to say that instead of having a mix of `bin`, `docs`, and individual exercises,
we can have `bin`, `docs`, and `exercises` in the root of the repository, and all
the exercises collected in a subdirectory.

In other words, instead of this:

[code]

we can have something like this:

[code]

[2016-04-02 17:20] kytrinyx opened #8 "Verify that nothing links to help.exercism.io"
The old help site was deprecated in December 2015. We now have content that is displayed on the main exercism.io website, under each individual language on http://exercism.io/languages.

The content itself is maintained along with the language track itself, under the `docs/` directory.

We decided on this approach since the maintainers of each individual language track are in the best position to

[2016-04-06 23:54] kytrinyx commented on #8
Don't mind me.

I'm adding a reference so we get a visual "todo" list in the top level issue,
https://github.com/exercism/todo/issues/181

[2016-04-10 10:23] duffn commented on #8
There are no references to help.exercism.io in this repository.

[2016-04-10 13:51] #8 closed, assigned to nobody

[2016-08-18 20:57] kytrinyx opened #10 "Update config.json to match new specification"
For the past three years, the ordering of exercises has been done based on gut feelings and wild guesses. As a result, the progression of the exercises has been somewhat haphazard.

In the past few months maintainers of several tracks have invested a great deal of time in analyzing what concepts various exercises require, and then reordering the tracks as a result of that analysis.

It would be us

[2016-10-03 04:52] spuder opened #15 "what naming convention and indentations?"
The contributing.md instructs that the file names should be like

[code]

Powershell files typically are camel case. Also the powershell testing framework 'Pester' expects a file name with '.Tests.ps1' like 'Foo.Tests.ps1'

I've submitted two pull requests that don't quite have consistent naming conventions. Which style should be preferred?

| Exercism guidelines | Microsoft guidelines |
| --- | -

[2016-11-20 15:33] kytrinyx opened #17 "Investigate track health and status of the track"
I've used Sarah Sharp's [FOSS Heartbeat](https://github.com/sarahsharp/foss-heartbeat) project to generate stats for each of the language track repositories, as well as the x-common repository.

The Exercism heartbeat data is published here: https://exercism.github.io/heartbeat/

When looking at the data, please disregard any activity from me (`kytrinyx`), as I would like to get the language track

[2016-11-20 15:34] kytrinyx commented on #17
No data available for this track. It is inactive.

[2016-12-16 18:46] kytrinyx opened #18 "Verify contents and format of track documentation"
Each language track has documentation in the `docs/` directory, which gets included on the site
on each track-specific set of pages under [/languages](http://exercism.io/languages).

We've added some general guidelines about how we'd like the track to be documented in exercism/exercism.io#3315
which can be found at https://github.com/exercism/exercism.io/blob/master/docs/writing-track-documentatio

[2017-04-04 16:00] kytrinyx opened #21 "Override probot/stale defaults, if necessary"
Per the discussion in https://github.com/exercism/discussions/issues/128 we
will be installing the probot/stale integration on the Exercism organization on
April 10th, 2017.

By default, probot will comment on issues that are older than 60 days, warning
that they are stale. If there is no movement in 7 days, the bot will close the issue.
By default, anything with the labels `security` or `pinned`

[2017-04-05 19:07] kytrinyx commented on #21
I made a mistake.

This was not explicitly documented in the README, but probot/stale **requires the presence of a .github/stale.yml** file.

If you want the default behavior, you need to add an empty .github/stale.yml file to this repo, otherwise the bot will not be active.

[2017-06-09 07:01] kytrinyx commented on #7
This is already done.

[2017-06-09 07:01] #7 closed, assigned to nobody

[2017-12-14 21:11] trebleCode commented on #4
@kytrinyx are you still looking for people to help out with this track?
I would love to help with this!

[2017-12-19 08:55] kchenery commented on #4
I was going to suggest exercism.io to my team to learn some PowerShell but was disappointed to find only two exercises.  I'm keen to help build this out.  Would be keen to discuss how I can help!

I realise I can submit pull requests to add exercises.  I think there's more than can be offered. Or would the preference be to just be to submit the PRs for new exercises?

[2017-12-22 16:52] kytrinyx commented on #4
@trebleCode Yes! Holy moly yes please ✨

@kchenery @trebleCode I would be happy to give you both commit access / maintainership on this repository. I've got a bunch of documentation on how to get a track up and running here: https://github.com/exercism/docs/blob/master/language-tracks/launch/README.md (this further links to a bunch of documents).

Also, you're welcome to ask questions along the wa

[2017-12-22 17:30] Tuxhedoh commented on #4
I'd be happy to assist, though, I'm not sure how I might help.

On Fri, Dec 22, 2017 at 11:52 AM Katrina Owen <notifications@github.com>
wrote:

[2017-12-22 17:39] kytrinyx commented on #4
@Tuxhedoh - the first step would be to read through the launch guide: https://github.com/exercism/docs/blob/master/language-tracks/launch/README.md

The basics are:

- implement exercises
- help write scripts so we can run the exercise tests on CI
- watch the repository and respond and help answer questions and review pull requests when there is activity in the repository

After reading through th

[2017-12-23 02:02] trebleCode commented on #4
@kytrinix

Are your CI tests for this intended to be done through the Pester framework for PS, or do you do C# unit tests or otherwise?

[2017-12-23 02:04] trebleCode commented on #4
And yes I'd be happy to help maintain this track. Been itching for a software project to contribute to

[2017-12-23 17:18] kytrinyx commented on #4
I don't actually know what the thinking was for the CI tests. My best advice here would be for the three of you to discuss what you think would be a good choice for CI.

Here's what I wrote up about what we're trying to achieve: https://github.com/exercism/docs/blob/a8ea5db92e2a2d2839e66ec10c7687b3b7db002a/language-tracks/launch/tooling-and-ci.md#tooling-and-continuous-integration

I've added you

[2017-12-27 20:42] kchenery commented on #4
Im certainly keen to get this kicked off.  @Tuxhedoh and @trebleCode how do you want to catch up?

Regarding the CI tests, I'd favour Pester for the following reasons:
* Its the standard PowerShell testing framework
* Its (now) installed by default
* Its easy to pick up/learn

[2017-12-27 20:45] kytrinyx commented on #4
From the peanut gallery... :)

Those two arguments are some of my favorite. Easy to pick up/learn is a great bonus :)

[2017-12-27 20:49] trebleCode commented on #4
Pester seems like the best outta-the-box solution and agree that it's easy
to pick up. So what are thinking? Divy up the first few exercises and
provide a Pester script with each one?

On Dec 27, 2017 3:42 PM, "Kent Chenery" <notifications@github.com> wrote:

[2017-12-27 20:57] kchenery commented on #15
I think we should be promoting the Microsoft guidelines as this is what _most_ will follow in the industry.  The familiarity this would bring is AGoodThing™

For the line endings, how about we determine that with a [.gitattributes file](https://help.github.com/articles/dealing-with-line-endings/)? Granted we would need to make a decision on which to use (personally I'm not fussed).  Since PowerShe

[2017-12-27 21:09] trebleCode commented on #15
I think VS Code configuration makes sense. Most people aren't going to
bother trying to customize the PS ISE. I have a config file for ISE that I
use on my systems if we want to just provide that and simple instructions
on how to import it. Ultimately though VS Code is a way nicer experience
and freely available

On Dec 27, 2017 3:58 PM, "Kent Chenery" <notifications@github.com> wrote:

I think we

[2017-12-27 21:12] Tuxhedoh commented on #4
I've had problems getting the exercism to work for some reason. There are 2
exercises for Powershell available, but I can't figure out how to test my
solution. I can't figure out whether the documentation for getting it setup
is incorrect or not. Perhaps we should start there. :D Get it working for
me! :D

Otherwise, I have no reason  to want to use another testing framework.

On Wed, Dec 27, 2017

[2017-12-27 21:28] kchenery commented on #4
Yeah...I've just followed the instructions word for word and they're not good.  I'll fix this up!  Before I submit the PR it would be good to get a bit of a consensus on issue #15 to kick off how we should go on.

[2017-12-27 21:39] trebleCode commented on #4
Let's use the HelloWorld.ps1 name convention since that's the Ms
recommended practice. Indifferent on EOL choice.

For these exercises does anyone forsee having to use #requires, and
presuming we are starting from PSv3 and up since 2 is now deprecated?

On Dec 27, 2017 4:28 PM, "Kent Chenery" <notifications@github.com> wrote:

[2017-12-27 22:22] kchenery commented on #4
I cant see a need for `#requires`.  Is there something you're specifically thinking of?  Just the PS version?  We could add that I guess...probably unnecessary though.

[2017-12-27 22:40] trebleCode commented on #4
Not at the moment, just one of many considerations before we started
writing exercises

On Dec 27, 2017 5:22 PM, "Kent Chenery" <notifications@github.com> wrote:

[2017-12-27 22:42] kchenery opened #36 "Hello World exercise instructions are confusing and conflicting"
Following the instructions for the Hello World exercise exactly does not guide the user accurately.  The tests still fail and there is some confusion around the naming of files.

[2017-12-27 22:46] kchenery commented on #4
@trebleCode I believe I've tidied up the confusion in the Hello World exercise with this PR #37

Although I need to tidy up the config for exercism (according to the build failure)

[2017-12-27 23:43] kchenery commented on #10
@kytrinyx can you confirm if this issue is now resolved?  And if not, would the PR #37 solve it too as I had to make changes there for configlet to recognise it.

[2017-12-28 05:27] kchenery opened #38 "Missing ABOUT.md"
When you browse to the [about PowerShell section on exercise.io](http://exercism.io/languages/powershell/about) the "complains" that `about.md` is missing.  We should add this file to describe the language.

[2017-12-28 11:08] kchenery commented on #2
@kytrinyx does the `SETUP.md` file need to be in the `docs` directory?  I've assumed it does and have a PR open (#40 Adding required docs) that would satisfy this issue I believe.

[2017-12-28 19:57] kchenery commented on #4
Sorted the config (I believe...TravisCI is now passing at least!).  Keen to understand if this updated HelloWorld is the approach we want.  I have a couple of other exercises (leap and twofer) ready to add if it is.

[2017-12-28 23:49] Jaykul commented on #4
Hey, I'd also be interested in helping get this off the ground ... I'll poke around a bit this evening.

Can we strike the word "Windows" from **everything** and just call it "PowerShell"? Of course the examples should all work on the old Windows PowerShell releases (after all, you're teaching language, not cmdlets) but the focus should be on the current, open-source, cross-platform PowerShell Cor

[2017-12-28 23:59] Jaykul commented on #15
Real programmers use spaces. Not tabs 😉

In PowerShell, I would strongly support *not* using dashes in file names except to separate Verb-Noun, even though I'm conscious that with the entry into Linux world case-sensitive file names make things a little tricky.

**However**, I'm afraid that the [naming convention may be enforced by the exercism tools](https://github.com/exercism/docs/blob/master/y

[2017-12-29 10:40] kchenery commented on #4
Not until PowerShell Core is released. Its technically still Windows PowerShell for now.

[2017-12-29 15:20] Tuxhedoh commented on #36
I'm trying to work through this first exercise. Is the only way for us to test to use a function?  It would seem that building functions is a more advanced exercise.

[2017-12-29 17:09] kytrinyx commented on #10
Yepp, this is solved. Thanks!

[2017-12-29 17:09] #10 closed, assigned to nobody

[2017-12-29 17:18] kytrinyx commented on #2
@kchenery Ah, shoot. We changed how the READMEs get generated. It's documented here: https://github.com/exercism/docs/blob/master/language-tracks/exercises/anatomy/readmes.md

If that's confusing let me know and I'll take a stab at clarifying.

The TL;DR is that the track has a template for the readmes in `config/exercise_readme.go.tmpl`, but if you need to, you can override that template for a si

[2017-12-29 22:06] kchenery commented on #2
All good - still learning how we hang this all together!

I had read through that document and have seen how `configlet` pulls the information from the `problem-specifications`.  I guess I was a little confused as I had seen the `SETUP.md` somewhere.  Am I correct in understanding we just need to put together the readme spec as per that document and that is all?

In the simplest example there'd be

[2017-12-29 22:20] kytrinyx commented on #2
I wouldn't be surprised if you had seen the `SETUP.md` somewhere. I've tried to clean it all out, but may well have missed a spot.

Yepp, and there's one in the repo which *should* do the right thing, and which you could tweak to your heart's content.

Awesome, yeah. I think that's the next step, then. 🌷

[2017-12-29 22:20] kchenery commented on #36
I can think of 3 ways you can write PowerShell...

I'll use the Hello, World! example to demonstrate.

### 1. Inline
[code]
or if you were to be more accurate:
[code]

That would actually output what is needed to pass the first test.  Clearly we can't test that and it's not going to accept parameters.  However; there are times you'll do this in the real world.

#### 2. Function
[code]
And then you

[2017-12-29 22:21] kchenery commented on #2
Probably saw it here! 😄

[2018-01-01 22:32] kchenery commented on #2
Please close this issue as its now redundant (see discussion).

[2018-01-02 01:50] #2 closed, assigned to nobody

[2018-01-02 10:30] JPRuskin commented on #4
Also here to help, if needed, and will be exploring shortly.

[2018-05-07 14:13] gyssels opened #44 "Exercise 4 - Bob"
First: thank you for your help!
Request specifications:

Please work from the  **Exercise-4-Bob** branch.

Bob exercism files to implement:
- **.\exercises\bob\BobResponse.tests.ps1** as specified in https://github.com/exercism/problem-specifications/blob/master/exercises/bob/canonical-data.json
- **.\exercises\bob\BobResponse.example.ps1**, your solution as specified in .\exercises\bob\README.md

[2018-05-07 14:24] gyssels opened #45 "Exercise 5 - Sum-Of-Multiples"
First: thank you for your help!
Request specifications:

Please work from the **Exercise-5-SumOfMmultiples** branch.

Sum-Of-Multiples exercism files to implement:

- **.\exercises\sum-of-multiples\SumOfMultiples.tests.ps1** as specified in https://github.com/exercism/problem-specifications/blob/master/exercises/sum-of-multiples/canonical-data.json
- **.\exercises\sum-of-multiples\SumOfMultiples.e

[2018-05-07 17:09] gyssels opened #46 "Exercise 7 - Two-Fer"
First: thank you for your help!
Request specifications:

Branch to use: **Exercise-7-TwoFer**

Two-Fer exercism files to implement:

**.\exercises\two-fer\TwoFer.tests.ps1** as specified in https://github.com/exercism/problem-specifications/blob/master/exercises/two-fer/canonical-data.json
**.\exercises\two-fer\TwoFer-example.ps1**, your solution as specified in .\exercises\two-fer\README.md
Do no

[2018-05-07 18:30] #18 closed, assigned to nobody

[2018-05-07 18:41] gyssels commented on #15
We should enforce Microsoft best practice as a learning platform, and any exception like "tab vs space" should be mentioned on the INSTALLATION.md

**For the line endings, can someone implement the a .gitattributes file and set it to spaces?**
Ref.: <https://help.github.com/articles/dealing-with-line-endings/>

[2018-05-07 19:04] gyssels opened #47 "Exercises (1-20) - Implementation/Track order"
**FYI** - _Regarding the exercises implementation/track order_

As the F# and C# track are mature and have implemented all exercises, I made a choice to implement more or less at the same order, making adjustments as necessary. For now, the first 20 exercises:

1. "hello-world" [done]
2. "reverse-string", open issue #50
3. "leap" [done]
4. "bob", open issue #44
5. "sum-of-multiples", open issue #4

[2018-05-07 19:23] gyssels commented on #21
Interesting. but due to the actual user frequency we could lose a lot of issues...

I think the best **for now** is to use _"otherwise the bot will not be active"_.

[2018-05-07 19:24] gyssels commented on #21
Closing, as not relevant for now. but keeping in mind for the future. (who knows?)

[2018-05-07 19:24] #21 closed, assigned to nobody

[2018-05-07 19:27] gyssels commented on #4
@JPRuskin @kchenery @trebleCode @Jaykul @Tuxhedoh @spuder @inammathe @andrewiiird @catb0t
@cgrayson @iHiD @dkinzer @eemailme @davzoku

Call to arms! Choose your exercise!

#44 #45 #46 #50 #56 #57 #58 #59 - Witch exercise will you pick? Please assign the issue to your login!

[2018-05-07 20:56] gyssels opened #49 "IMPORTANT branch "test-exercism-name-convention""
@kytrinyx , I made a naming example on the hello-world exercise....

**Please Katrina, could you have a look on the ./exercise/hello-wold file names on the test branch?**

This is what it should be according to PowerShell name convention.

Actually saw that **Travis CI passed its check.**

Need to know, about the integration with the exercism CLI:
1) it's will get the files with the fetch command?

[2018-05-07 23:11] gyssels opened #50 "Exercise 2 - Reverse-String"
First: thank you for your help!
Request specifications:

Please work from the  **Exercise-2-reverse-string branch.**

reverse-string exercism files to implement:

- **.\exercises\reverse-string\ReverseString.tests.ps1** as specified in https://github.com/exercism/problem-specifications/blob/master/exercises/reverse-string/canonical-data.json
- **.\exercises\reverse-string\ReverseString-example.ps1

[2018-05-08 01:53] gyssels commented on #46
pulled from  kchenery-exercise-twofer repository. Tested and corrected the example...

[2018-05-08 01:58] gyssels commented on #46
Tag to review by some else, before closing

[2018-05-08 02:02] gyssels commented on #46
Reviewed and merged to master.

[2018-05-08 02:02] #46 closed, assigned to gyssels

[2018-05-08 02:23] gyssels commented on #38
http://exercism.io/languages/powershell/about

continues to complain... even after commit

[2018-05-08 02:30] gyssels commented on #17
Is foss-heartbeat relevant now?
Can we add the track to foss-heartbeat?

[2018-05-08 03:25] kytrinyx commented on #21
I agree—I'm actually tempted to remove probot/stale from all the Exercism repositories unless the maintainers of a given track find it particularly useful.

[2018-05-08 03:28] kytrinyx commented on #17
I haven't used foss-heartbeat for over a year. I've been pondering ways of getting better data about participation in the various tracks, and once I do make progress on it, I will include any tracks which have had any activity whatsoever in the past year.

I *think* it's ok to close this for now, as it's basically on my plate at a higher-level, and will be solved once I do solve it.

[2018-05-08 14:56] gyssels commented on #17
it's **ok** to close this for now

[2018-05-08 14:56] #17 closed, assigned to kytrinyx, gyssels

[2018-05-08 15:19] gyssels commented on #49
Ok; It's clear now, we can state on issue #15 and submit correcting pull request to exercises branches.

[2018-05-08 15:19] #49 closed, assigned to kytrinyx, gyssels

[2018-05-08 17:46] gyssels commented on #38
Published to "http://exercism.io/languages/powershell/about"

[2018-05-08 17:46] #38 closed, assigned to nobody

[2018-05-08 18:11] gyssels opened #56 "Exercise 6 - Raindrops"
First: thank you for your help!
Request specifications:

Please work from the **Exercise-6-Raindrops branch**.

Raindrops exercism files to implement:

-**.\exercises\raindrops\Raindrops.tests.ps1** as specified in https://github.com/exercism/problem-specifications/blob/master/exercises/raindrops/canonical-data.json
-**.\exercises\raindrops\Raindrops.example.ps1**, your solution as specified in .\

[2018-05-08 19:40] gyssels commented on #50
Created a new **Exercise-2-reverse-string** branch for working with this exercise.

[2018-05-08 19:48] gyssels commented on #44
Created a new **Exercise-4-Bob** branch for working with this exercise.

[2018-05-08 20:15] gyssels commented on #45
Created a new **Exercise-5-SumOfMultiples** branch for working with this exercise.

[2018-05-08 20:32] gyssels commented on #56
Created a new **Exercise-6-Raindrops** branch for working with this exercise.

[2018-05-08 20:43] gyssels opened #57 "Exercise 8 - NucleotideCount"
First: thank you for your help!
Request specifications:

Please work from the **Exercise-8-NucleotideCount** branch.

Bob exercism files to implement:
- **.\exercises\nucleotide-count\NucleotideCount.tests.ps1** as specified in https://github.com/exercism/problem-specifications/blob/master/exercises/nucleotide-count/canonical-data.json
- **.\exercises\nucleotide-count\NucleotideCount.example.ps1**

[2018-05-08 20:44] gyssels commented on #57
Created a new  **Exercise-8-NucleotideCount** branch for working with this exercise.

[2018-05-08 21:02] gyssels opened #58 "Exercise 9 - Accumulate"
First: thank you for your help!
Request specifications:

Please work from the **Exercise-9-Accumulate** branch.

Bob exercism files to implement:
- **.\exercises\accumulate\Accumulate.tests.ps1** as specified in https://github.com/exercism/problem-specifications/blob/master/exercises/accumulate/canonical-data.json
- **.\exercises\accumulate\Accumulate.example.ps1**, your solution as specified in .

[2018-05-08 21:02] gyssels commented on #58
Created a new  **Exercise-9-Accumulate** branch for working with this exercise.

[2018-05-08 21:09] gyssels opened #59 "Exercise 10 - GradeSchool"
First: thank you for your help!
Request specifications:

Please work from the **Exercise-10-GradeSchool** branch.

Bob exercism files to implement:
- **.\exercises\grade-school\GradeSchool.tests.ps1** as specified in https://github.com/exercism/problem-specifications/blob/master/exercises/grade-school/canonical-data.json
- **.\exercises\grade-school\GradeSchool.example.ps1**, your solution as spec

[2018-05-08 21:10] gyssels commented on #59
Created a new **Exercise-10-GradeSchool** branch for working with this exercise.

[2018-05-08 21:32] gyssels commented on #4
**Exercises (1-20) - Implementation/Track order #47** has a list of opened exercise request with the issue number _you can choose from_

[2018-06-02 22:57] kchenery commented on #4
@gyssels dont seem to be able to assign myself some issues.  I was going to go work on Exercise 4 (Bob).  Issue #44

[2018-06-02 23:01] kytrinyx opened #63 "Where are the Windows PowerShell communities and enthusiasts?"
As we move towards the launch of the new version of Exercism we are going to be ramping up on actively recruiting people to help provide feedback.

Our goal is to get to 100%: everyone who submits a solution and wants feedback should get feedback. Good feedback. You can read more about this aspect of the new site here: http://mentoring.exercism.io/

To do this, we're going to need a lot more infor

[2018-06-03 23:45] kchenery commented on #44
Wanted to assign this to myself @gyssels, however I am unable to do so.

[2018-06-04 02:06] kchenery commented on #63
Answering some of these points....

* PowerShell is supported by Microsoft.  See https://docs.microsoft.com/en-us/powershell/scripting/powershell-scripting?view=powershell-6
* Jeffrey Snover is the original author and champion of PowerShell and is heavily involved in its development.  He is probably the closest to a "community manager" for now.  Jeffrey's twitter handle is: https://twitter.com/jsn

[2018-06-04 02:15] gyssels commented on #56
@kchenery  good! I will have a look about the commit errors by monday night. but seems the right logic! thankyou

[2018-06-04 02:27] gyssels opened #65 "Finishing the code to auto-generate 98 exercises folders"
it's look like I didn't commit anything for days now, but as we feel alone I missed the oportunity to share the following and just wanted to say that I'm finishing and testing this 5 steps:

1. generation from  https://github.com/exercism/problem-specifications of the tests files for all exercises that have a canonical-data.json on it. (Around 98 exercises from the Exercism exercises base)
2. gene

[2018-06-04 02:32] gyssels commented on #4
Katrina Owen, It's seems rights management. I can't assign him neither. Can you have a look?

thank you,
Christian

______________________________________________________
Christian P. Gyssels

www.dekeract.com<http://www.dekeract.com>

Brazil | Belgium | Germany | France | United Kingdom

CONFIDENTIALITY NOTICE: This e-mail message, including any attachments,is for the sole use of the intended rec

[2018-06-04 15:06] kytrinyx commented on #4
@gyssels - GitHub organizations will only allow people to be assigned if they are members of the org.

For the moment, would you all manage this by adding comments to the individual issues? I don't have the bandwidth this week to handle this.

[2018-06-04 22:11] kchenery commented on #57
Have created a PR (see above #67) to resolve this issue.

[2018-06-04 22:13] kchenery commented on #56
Seems to be issues around the config.json failing the checks which youve asked we dont touch.

[2018-06-05 10:36] gyssels opened #69 ""checklist_issue": 4 is giving a problem with Travis"
"checklist_issue": 4 is giving a problem. didn't find doc about this entry for config.json.

What it's related to? Can we remove it?

[2018-06-05 12:37] gyssels commented on #44
All right. Published...

[2018-06-05 12:37] #44 closed, assigned to nobody

[2018-06-05 12:39] gyssels commented on #56
Yes. it was a config error on the first line. thank you.

[2018-06-05 12:39] gyssels commented on #56
All right. Published...

[2018-06-05 12:39] #56 closed, assigned to nobody

[2018-06-05 12:39] gyssels commented on #57
All right. Published...

[2018-06-05 12:39] #57 closed, assigned to nobody

[2018-06-05 12:46] gyssels commented on #69
not urgent, whenever you have time.

[2018-06-06 17:36] kytrinyx commented on #69
The checklist issue number is used to link to it in http://exercism.io/languages/powershell/launch

I'll get this sorted in the next few days.

[2018-06-07 00:35] kchenery commented on #45
Dont think this has been picked up so will take a look.

[2018-06-08 15:25] kytrinyx commented on #69
@gyssels I downloaded the latest release of configlet and used it to reformat the configs (`configlet fmt .`) and I am not getting any errors.

What kind of problems are you seeing?

[2018-06-11 18:03] kytrinyx commented on #63
Fantastic, thank you!

[2018-06-11 20:42] gyssels commented on #69
I actually changed "checklist_issue": 4 to "checklist_issue": "4" manually, that's why you didn't fond anything. I saw that the previous configlet didn't pointed that as an issue;

[2018-06-11 21:20] gyssels commented on #50
done

[2018-06-11 21:20] #50 closed, assigned to nobody

[2018-06-11 21:20] gyssels commented on #45
done

[2018-06-11 21:20] #45 closed, assigned to nobody

[2018-06-11 22:42] kchenery commented on #47
@gyssels  - I noticed you removed the [comment based help](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_comment_based_help?view=powershell-6) from my example solutions.  Fully appreciate its not a requirement to solve the problems functionally.

As this is a best practice, should we not be encouraging this?

[2018-06-11 23:23] gyssels opened #79 "@kchenery"
Sad I don't have admin rights to add you to the project.

I liked your improvement in adding the documentation <# #> on the files.Sorry to erased then first. I add to then after the merge to master on reverse and sum-of-multiples. Do you have any others improvements that you think is fit to the project?

[2018-06-11 23:24] gyssels commented on #65
Refactoring it.

[2018-06-11 23:33] kytrinyx commented on #69
Someone pointed that out this morning /facepalm. I've updated configlet to expect an int, and will submit a fix here when I cut the release.

Sorry about the trouble!

[2018-06-12 02:53] kytrinyx opened #81 "Ensure Windows PowerShell track is ready for v2 launch"
There are a number of things we're going to want to check before the v2 site goes live. There are notes below that flesh out all the checklist items.

- [x] The track has a page on the v2 site: https://v2.exercism.io/tracks/powershell
- [x] The track page has a short description under the name (not starting with `TODO`)
- [x] The "About" section is a friendly, colloquial, compelling introduction
-

[2018-06-12 04:42] kchenery commented on #79
Ive been wondering about the merging approach you're using.  I'm finding it hard to follow the flow of changes as a result.  Probably just me 😄

I think you're doing this to ensure the config.json file is correctly updated (and also avoid conflicts to it...is that right?).  Perhaps another way would be to run some kind of integration branch alongside master that our exercises are merged into.  The

[2018-06-13 00:46] gyssels commented on #79
**As for now (v1)** I'm using a per exercise-x-branch as a integrations branch, supposed that will be more than two there. this will sure help in merges as we are only merging exercises files.
Step 1 ) master -> exercise-x-branch: Creating the exercise integration band
Step 2 ) exercise-x-branch <- upload some exercise file to help devs implements code logic and fasten result
Step 3..n ) exercise-

[2018-06-13 00:51] gyssels commented on #79
**As for (v2)** I finished, and am polishing the auto-generation of all 100 exercises (PS-> automation tool).
I thinking creating a unique all generated exercises branch and working from there and get us modifying the example files for a real one.

[2018-06-13 00:58] gyssels commented on #81
I'll start those next week as i'm not teaching any classes.

[2018-06-13 01:00] gyssels commented on #79
Feel free to implement exercises 9-20. I'm autogen exercises > 20

[2018-06-13 01:09] gyssels opened #82 "Exercises readme changes. Opinions? Interested, can you investigate this?"
I saw that we can do a customization to the read me file.

If someone has time, could implement an extra section #Contributors with coma separated list (with/or not) link to git profile to that user that implemented the exercise. ideally we can have an file with this user name on the exercise folder.

[2018-06-13 01:11] #15 closed, assigned to nobody

[2018-06-13 01:27] gyssels commented on #79
Actually, Microsoft recommends the "comment based help" be between the function declaration and the PARAM() definition, as it travels with code in copy and paste scenarios.

Function Get-SumOfMultiples {
    <# !here! #>
    [CmdletBinding()]

[2018-06-13 01:37] gyssels commented on #69
;)

[2018-06-13 01:37] #69 closed, assigned to kytrinyx

[2018-06-13 04:05] kchenery commented on #79
I think where I'm getting confused is your step [last - 2] item.  You dont appear to be merging our branches so I have hanging branches in my clone.  See: https://github.com/exercism/powershell/network for an example.

All good I can kick them to the dust.

I've got a solution for Exercise 9 (Accumulate) though I'm not happy with it.  Might raise a WIP PR and see what people think/recommend.  Ther

[2018-06-13 15:07] gyssels commented on #79
Ok. I guess as I come from TFS I got to familiarize with the git vocabulary. it could be the why, but is definitively merged as it is published in main.

[2018-06-13 15:12] gyssels commented on #79
a branch only for you ;) Exercises 9-20: Exercise-Kchenery

[2018-06-18 23:04] gyssels commented on #79
I guess is understable the confusing of best practice in branch code. We should "Always" do a reverse integration (RI) and code testing before a foward integration (FI). In other terms: push from master, test, push to master. The symptoms your are experiencing is more about me experiencing the github commands , i promise most will disappear ;) as I'm getting the vocabs.

[2018-06-18 23:04] gyssels commented on #79
![branchingcode](https://user-images.githubusercontent.com/13238035/41566655-b07dd1c8-735c-11e8-9944-bb14e2db0671.png)

[2018-06-18 23:19] kchenery commented on #79
I understand branching. And I understand the need to merge from master into dev (at times) before you can merge dev into master.

What I'm not getting or seeing are the merges from the "dev" branches into master.  However; if its going to go away dont worry about it.

[2018-06-19 20:21] kytrinyx commented on #63
I've got what I need for now; closing this out. Thank you! 🌼

[2018-06-19 20:21] #63 closed, assigned to nobody

[2018-06-22 05:30] kchenery commented on #81
I have already signed up to be a mentor for this track 😄 Looking forward to this!

@kytrinyx looking at https://v2.exercism.io/my/tracks I cannot see a track for PowerShell.  Your link above (https://v2.exercism.io/tracks/powershell) does indeed take you to a PowerShell track.

@gyssels I think we should now change "Windows PowerShell" to simply "PowerShell".  Might need to add some notes about Wi

[2018-06-24 13:10] kytrinyx commented on #81
@kchenery Yepp, until the track is `active` in the [config.json](https://github.com/exercism/powershell/blob/0aa2e242e43e0dcbfd7a2d7e65709c0f03212eea/config.json#L3) it won't show up on the front page.

[2018-06-24 19:19] gyssels commented on #81
I tough about naming PowerShell instead of Windows PowerShell; now it's manages seriously Linux and mac os.
@kytrinyx  Can you push that change?

[2018-06-25 03:58] kytrinyx commented on #81
@gyssels This sounds like a good chance. You can update it in the config and it should propagate:
 https://github.com/exercism/powershell/blob/master/config.json#L2

[2018-06-25 09:02] gyssels commented on #81
Done. thanks for the remark @kchenery: The track is called now "PowerShell".

[2018-08-03 16:13] jackhughesweb opened #93 "Fix getting started instructions for powershell"
Some exercise README templates contain links to pages which no longer exist in v2 Exercism.

For example, C++'s README template had a link to /languages/cpp for instructions on running tests. The correct URLs to use can be found in the 'Still stuck?' sidebar of exercise pages on the live site. You'll need to join the track and go to the first exercise to see them.

Please update any broken links i

[2018-08-07 20:14] gyssels opened #95 "Can't login to the new exercism.io"
Tryed deferents solutions. but nothing happens when I login with my github account. When I subscribe to the new account my login is already taken....

Can someone have a look?  @kytrinyx  who gives a support for this kind of issue? didn't find a hotline from site neighter (and sinceryly didn't look much)

[2018-08-07 20:15] gyssels commented on #93
did you noticed any? the links are quite recent...

[2018-08-07 20:16] #82 closed, assigned to nobody

[2018-08-07 20:16] gyssels commented on #82
no one interested

[2018-08-07 20:17] gyssels commented on #95
ps: comming back from long holydays

[2018-08-07 21:26] jackhughesweb commented on #93
This track's exercise_readme.go.tmpl file doesn't have any broken links, so closing this issue

[2018-08-07 21:26] #93 closed, assigned to nobody

[2018-08-08 00:37] gyssels commented on #95
ok, i had a unverified email. could login after verifing it

[2018-08-08 00:37] #95 closed, assigned to nobody

[2018-08-19 18:57] kytrinyx opened #97 "Remove obsolete version tracking assertions in exercises"
Some tracks have added assertions to the exercise test suites that ensure that the solution has a hard-coded version in it.
In the old version of the site, this was useful, as it let commenters see what version of the test suite the code had been written against, and they wouldn't accidentally tell people that their code was wrong, when really the world had just moved on since it was submitted.

I

[2018-11-30 09:47] gyssels commented on #47
@kchenery you are right

[2019-01-18 23:38] devblackops commented on #4
I'm interested in helping out with this project as well.

[2019-01-24 16:25] trebleCode commented on #4
@kytrinyx what issues on here are currently open? Would like to knock out a couple if available

[2019-01-25 04:58] inammathe commented on #59
I'd be happy to help out on this one

[2019-01-28 22:54] inammathe commented on #59
Wasn't entirely sure if that was the direction people want to go with this one (referring to https://github.com/exercism/powershell/pull/100).

I think it is a pretty good opportunity to introduce classes, however, it is possible to accomplish the same result without the use of classes (just writing  `[pscustomobject]` with the grade and name properties to output).

Happy to discuss here or within

[2019-01-31 19:02] sophware opened #101 "powershell: first exercise instructions not updated"
The GETTING_STARTED.md file instructions state that the first step in the first powershell exercise is a test suite failure that will report 'hello-world' could not be loaded. It seems that the HelloWorld.ps1 file is not supposed to exist (see next paragraph). Even if it is supposed to exist, what you get is 'Exercise not implemented', just as coded in the script.

The second step says to create a

[2019-01-31 19:38] rpottsoh commented on #101
I recommend bringing this up with the maintainers in the exercism/powershell repo.

[2019-01-31 19:43] iHiD commented on #101
I've moved this to the powershell repo (cc @exercism/powershell).

[2019-02-03 23:48] inammathe commented on #59
@gyssels :)

[2019-02-18 14:38] cmccandless opened #103 "Run tests in Travis"
Windows support for Travis-CI is in beta release. It would be nice to get the tests running there.

https://docs.travis-ci.com/user/reference/windows/#powershell

[2019-02-18 23:47] kytrinyx commented on #4
@trebleCode I actually have no idea what the status of this one is, and would be super grateful for some help figuring out what's going on, and what would be next steps.

From a quick survey it looks like:

- the track has not officially launched on the site (it's not on the homepage on https://exercism.io)
- the track *is* available to play around with (https://exercism.io/tracks/powershell)
- th

[2019-02-19 06:20] inammathe commented on #4
One more for 10! #59 is good one, I've got #100 opened for it - Would love to see some more action on that one ;)

I would be keen to be a mentor/maintainer :grinning:

Thanks for the comment @kytrinyx, I'll have to hop on #track-powershell!

[2019-02-19 06:29] kytrinyx commented on #4
@inammathe invite incoming! I've found that when we have three people active as track maintainers at once, magical things happen. It turns out, it's _really_ helpful to be able to think out loud about things, and throw ideas back and forth.

[2019-02-26 19:47] masters3d opened #105 "Improve CI false positives"
#103

Fail the build when there are errors when called from bash or write a powershell test runner
Windows support

[2019-02-26 19:47] #103 closed, assigned to nobody

[2019-02-27 21:38] masters3d commented on #65
Related to this conversation:
https://github.com/exercism/powershell/issues/79

[2019-02-27 21:38] #79 closed, assigned to nobody

[2019-02-27 21:41] masters3d commented on #65
Can we break this down? Can you check in your current script that does this?

[2019-02-27 21:42] masters3d commented on #58
@trebleCode How is this going?

Edit: I have no idea how that go unassigned. Please if you have an update it, let me know.

[2019-02-27 21:46] masters3d commented on #101
@iHiD I am not able to move issues across repos. Should contributors be allowed to more issues to all other repos?

[2019-02-27 21:47] masters3d commented on #101
Hi @sophware , Do you mind sending a PR to fix this issue the issue you mentioned?

[2019-03-03 05:03] sophware commented on #101
OK. I did so. It is my first PR; so here's hoping I did it correctly.

Of note, when I run the command to start the exercise (`exercism download --exercise=hello-world --track=powershell`), it doesn't actually download the files in this repository. It downloads similar stuff, but not exactly these files.

[2019-03-03 14:29] iHiD commented on #101
I don't think it's needed (and I'm not sure how the permissions model for this works). I'm also not sure it's even a publicly available feature on GitHub yet. Regardless, I don't mind doing it :)

[2019-03-03 19:10] masters3d commented on #101
Okay so I think this is going to be conflicting with https://github.com/exercism/exercism/issues/4707

[2019-03-03 21:24] #59 closed, assigned to inammathe

[2019-03-03 21:26] masters3d commented on #101
duplicate of https://github.com/exercism/powershell/issues/36

[2019-03-03 21:26] #101 closed, assigned to nobody

[2019-03-04 00:20] #97 closed, assigned to nobody

[2019-03-04 05:58] masters3d commented on #58
I do not think this is going to be a good beginner friendly exercise. There is not real clean way to call a lambda in PowerShell from what I can tell. https://stackoverflow.com/questions/22129621/powershell-pass-function-as-a-parameter

[2019-03-04 06:15] masters3d commented on #58
Probably can get away with making each exercise a module ? https://docs.microsoft.com/en-us/powershell/developer/module/how-to-write-a-powershell-script-module

[2019-04-01 14:00] tqa236 commented on #4
Hello, do you plan when you will launch this track? I would love to try it out.

[2019-08-03 18:20] kytrinyx opened #111 "Create stub files for all exercises"
We have decided to require all file-based tracks to provide stubs for their exercises.

The lack of stub file generates an unnecessary pain point within Exercism, contributing a significant proportion of support requests, making things more complex for our students, and hindering our ability to automatically run test-suites and provide automated analysis of solutions.

We believe that it’s essenti

[2019-10-03 11:58] ErikSchierboom opened #112 "What was it like to learn PowerShell?"
We’ve recently [started a project](https://exercism.io/blog/redesigning-tracks-in-partnership-with-chicago-university-and-sloan-foundation) to find the best way to design our tracks, in order to optimize the learning experience of students.

As a first step, we’ll be [examining the ways in which languages are unique and the ways in which they are similar](https://github.com/exercism/exercism/issue

[2020-02-26 03:58] endowdly commented on #58
I am pretty good at writing functional PowerShell if this track needs a hand.

@masters3d in response to lambdas there are couple of really slick and easy ways.

A `ScriptBlock` _is_ a lambda. The easiest and best way is to simply have a function take a scriptblock as a param, _e.g._

[code]

There are a couple other tricks that can be done this way, like currying with closures. Instead of scriptb

[2020-07-01 22:15] #105 closed, assigned to nobody

[2020-07-07 09:22] ErikSchierboom commented on #112
@Hanimn This issue can remain open, but you don't have to do anything with it (unless you want to share your experiences learning PS).

[2020-07-07 09:25] ErikSchierboom commented on #111
@Hanimn I've looked at the already implemented exercises, and they all use a stub. For example, the `two-fer` exercise has the following stub file: https://github.com/exercism/powershell/blob/master/exercises/two-fer/TwoFer.ps1

This issue can thus be closed.

[2020-07-07 09:25] #111 closed, assigned to nobody

[2020-07-07 09:28] ErikSchierboom commented on #1
@Hanimn This issue is meant to help new contributors contribute to the track. A great example of how to do this is the JavaScript track, which repository has a very nice [`CONTRIBUTING.md` file](https://github.com/exercism/javascript/blob/master/CONTRIBUTING.md). I'd keep this issue open, but you should consider this a low priority issue. Getting the track into shape for releasing is much more imp

[2020-07-07 10:19] ErikSchierboom commented on #36
I agree with this sentiment. If we look at the [stub of the `hello-world` exercise](https://github.com/exercism/powershell/blob/master/exercises/hello-world/HelloWorld.ps1), that looks quite nice to me. @kchenery what do you think of the stub now?

[2020-07-07 10:20] ErikSchierboom commented on #4
@Hanimn This is a really useful issue to keep open, as it contains a link to the [launch checklist](https://github.com/exercism/docs/blob/master/language-tracks/launch/README.md).

[2020-07-07 10:22] ErikSchierboom commented on #47
@Hanimn You can use this list of exercises for inspiration on which exercises to add. That said, this list is based on an older version of the C# track. The latest version uses different _core_ exercises and I'd highly suggest using the latest version. You can find the C# track's current core exercises by looking for the exercises in the https://github.com/exercism/csharp/blob/master/config.json f

[2020-07-07 10:24] ErikSchierboom commented on #58
Is anybody still working on this? If so, it might be a good idea to chat with @Hanimn, as @Hanimn will be the main contributor working on this track.

[2020-07-07 10:25] ErikSchierboom commented on #65
@gyssels Do you still have the script somewhere that you were working? @Hanimn will be working on getting the Powershell track launched, and an auto-generate script could be extremely useful!

[2020-07-07 10:25] ErikSchierboom commented on #81
@Hanimn This is a good checking to verify the track's status against.

[2020-10-15 08:34] ErikSchierboom opened #117 "Moving from Travis to GitHub Actions"
Hello 🙂

Over the last few months we've been transferring all our CI from Travis to [GitHub Actions (GHA)](https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions). We've found that GHA are easier to work with, more reliable, and much much faster.

Based on our success with GHA and increasing intermittent failures on Travis, we have now decided to try and remove Travis from Ex

[2020-10-22 06:43] ErikSchierboom commented on #117
We now have a really nice document and some starting workflows that you can use to help switch to GitHub Actions: https://github.com/exercism/problem-specifications/tree/master/workflows#workflow-templates

[2020-12-19 06:56] lavanyasreepada commented on #63
Hi

Thank you Good Information
Please go through this, you can attend a free demo here [PowerShell Training](https://mindmajix.com/powershell-training)

Thanks in advance,
Lavanya Sreepada

[2021-01-07 14:39] ErikSchierboom opened #119 "[Important] The current website is about to enter maintenance mode to aid with v3 launch"
**TL;DR;** At the end of Jan 2021, all tracks will enter v3 staging mode. Updates will no longer sync with the current live website, but instead sync with the [staging website](https://exercism.lol/). The PowerShell section of the v3 repo will be extracted and PR'd into this track (if appropriate). Further issues and information will follow over the coming weeks to prepare PowerShell for the launc

[2021-01-28 15:51] ErikSchierboom opened #120 "The master branch will be renamed to main"
In line with our new org-wide policy, the `master` branch of this repo will be renamed to `main`. All open PRs will be automatically repointed.

GitHub will show you a notification about this when you look at this repo after renaming:

<img width="534" alt="Screenshot 2021-01-27 at 15 31 45" src="https://user-images.githubusercontent.com/286476/106013980-e9556680-60b4-11eb-992c-606b9f84a0b5.png">

[2021-01-29 08:53] ErikSchierboom commented on #120
As of today, the default branch of this repository has been changed to main.

[2021-01-29 09:25] ErikSchierboom commented on #119
As of today, the website has entered maintenance mode.

[2021-01-29 14:47] ErikSchierboom opened #122 "[v3] Configure online editor"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

In Exercism v3, students can now choose to work on exercises directly from their browser, instead of having to download exercises to their local machine. The track-specific settings for the in-browser editor are defined in the top-level `"online_editor"`

[2021-01-29 14:47] ErikSchierboom opened #123 "Add key features"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

In Exercism v3, each track must specify exactly six "key features". Exercism uses these features to highlight the most interesting, unique or "best" features of a language to a student.

Key features are specified in the top-level `"key_features"` field

[2021-01-29 14:47] ErikSchierboom opened #124 "Add tags"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

In Exercism v3, tracks can be annotated with tags. This allows searching for tracks with a certain tag combination, making it easy for students to find an interesting track to join.

Tags are specified in the top-level `"tags"` field in the track's `conf

[2021-01-29 14:47] ErikSchierboom opened #125 "Add prerequisites to Practice Exercises"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

Exercism v3 introduces a new type of exercise: [Concept Exercises](https://github.com/exercism/v3-docs/blob/main/product/concept-exercises.md). All existing (V2) exercises will become [Practice Exercises](https://github.com/exercism/v3-docs/blob/main/pro

[2021-01-29 14:47] ErikSchierboom opened #126 "Pass linting checks"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

The [configlet tool](https://github.com/exercism/canonical-data-syncer) has a `lint` command that checks if a track's configuration files are properly structured - both syntactically and semantically. Misconfigured tracks may not sync correctly, may look

[2021-01-29 14:47] ErikSchierboom opened #127 "Build Test Runner"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

In Exercism v3, one of the biggest changes is that we'll automatically check if a submitted solution passes all the tests.

We'll check this via a new, track-specific tool: the [Test Runner](https://github.com/exercism/v3-docs/tree/main/anatomy/track-too

[2021-01-29 14:47] ErikSchierboom opened #128 "Build Representer and Analyzer"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

## Representer

In Exercism v3, we're introducing a new (optional) tool: the [representer](https://github.com/exercism/v3-docs/tree/main/anatomy/track-tooling/representers). The goal of the representer is to take a solution and returning a representation

[2021-01-29 14:47] ErikSchierboom opened #129 "Update status of track"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

There are several new features in Exercism v3 for tracks to build. To selectively enable these features on the Exercism v3 website, each track must keep track of the status of the following features:

- [Concept Exercises](https://github.com/exercism/v3-

[2021-01-29 14:47] ErikSchierboom opened #130 "Update status of Concept Exercises"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

Concept Exercises can have a status specified in their `"status"` field in their `config.json` entry, as specified in [the spec](https://github.com/exercism/v3-docs/blob/main/anatomy/tracks/config-json.md#concept-exercises). This status can be one of fou

[2021-01-29 14:47] ErikSchierboom opened #131 "Launch Tracker 🔴"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

To get your track ready for Exercism v3, the following needs to be done:

- [ ] [Configure online editor](https://github.com/exercism/powershell/issues/122)
- [ ] [Add key features](https://github.com/exercism/powershell/issues/123)
- [ ] [Add tags](http

[2021-02-10 08:41] ErikSchierboom commented on #126
⚠ The original issue did not explain that currently only a subset of the linting rules have been implemented. This means that while your track may be passing the checks at this moment, it might fail later. We (the Exercism team) thus strongly suggest you keep this issue open until we let you know otherwise. The issue's text has been updated to reflect this.

[2021-02-10 09:14] ErikSchierboom commented on #125
⚠ The spec for Practice Exercises has changed. Besides having a `prerequisites` field, each Practice Exercise should now also have a `practices` field, which should list the slugs of Concepts that this Practice Exercise actively allows a student to practice. See [the spec](https://github.com/exercism/docs/blob/main/anatomy/tracks/practice-exercises.md#practices) for more information.

The issue's

[2021-04-06 21:24] andrerfcsantos commented on #122
I think this is already done:

https://github.com/exercism/powershell/blob/main/config.json#L13

[2021-04-07 06:16] ErikSchierboom commented on #122
@andrerfcsantos Those are the default settings that we used to populate the fields. The question is: are those the correct values? If so, then this can be closed.

[2021-04-07 08:26] andrerfcsantos commented on #122
Yes, the values are correct.

[2021-04-07 08:49] #122 closed, assigned to nobody

[2021-05-20 11:57] #81 closed, assigned to gyssels

[2021-05-21 18:10] #120 closed, assigned to nobody

[2021-06-30 12:09] #117 closed, assigned to nobody

[2021-07-02 09:49] exercism-bot opened #148 "🤖 Sync error for commit 00067d"
We hit an error trying to sync the latest commit (00067d28f1d8fa1a387b03031cb643e81e250347) to the website.

The error was:
[code]

Please tag @iHiD if you require more information.

[2021-07-02 11:10] #148 closed, assigned to nobody

[2021-07-14 13:32] ErikSchierboom opened #152 "Extract track-specific help instructions from `config/exercise_readme.go.tmpl`"
Each track needs a file that contains track-specific instructions on how to get help. The contents of this document are only presented to the student when using the CLI. This file lives at `exercises/shared/.docs/help.md`. **You almost certainly already have this information, but need to move it to the correct place.**

For v2 tracks, this information was (usually) included in the readme template

[2021-07-14 13:32] ErikSchierboom opened #153 "Extract track-specific test instructions from `config/exercise_readme.go.tmpl`"
Each track needs a file that contains track-specific instructions on how to manually run the tests. The contents of this document are only presented to the student when using the CLI. This file lives at `exercises/shared/.docs/tests.md`. **You almost certainly already have this information, but need to move it to the correct place.**

For v2 tracks, this information was (usually) included in the r

[2021-08-18 10:03] ErikSchierboom commented on #130
Closing this as this track has no (active) Concept Exercises

[2021-08-18 10:03] #130 closed, assigned to nobody

[2021-08-18 14:44] ErikSchierboom opened #154 "Build representer"
In Exercism v3, we're introducing a new (optional) tool: the [representer](https://github.com/exercism/docs/blob/main/building/tooling/representers/README.md). The goal of the representer is to take a solution and returning a representation, which is an extraction of a solution to its essence with normalized names, comments, spacing, etc. but still uniquely identifying the approach taken. Two diff

[2021-08-18 15:10] ErikSchierboom commented on #128
We're closing this issue as two separate issues have been created to replace this combined issue.

[2021-08-18 15:10] #128 closed, assigned to nobody

[2021-08-20 10:47] ErikSchierboom opened #155 "Check docs are up to date"
Please check if your documentation files are still up-to-date.

The key documentation files to check are:

- `docs/ABOUT.md`
- `docs/INSTALLATION.md`
- `docs/LEARNING.md`
- `docs/RESOURCES.md`
- `docs/TESTS.md`
- `exercises/shared/.docs/help.md`
- `exercises/shared/.docs/tests.md`

There might be more.

## Link check report

To help identify invalid links, we've automatically checked the links of

[2021-08-24 07:28] ErikSchierboom opened #156 "Fix CI"
This repository's `main` branch currently does not pass all CI checks.
This makes detecting issues in PRs harder and might result in a broken track, and so is an important thing to fix.

The following CI workflows are currently failing:

https://github.com/exercism/powershell/runs/3066725013
https://github.com/exercism/powershell/runs/3066724959
https://github.com/exercism/powershell/runs/30667248

[2021-09-02 13:13] ErikSchierboom commented on #112
We're closing this issue as it was part of our research for the v3 version of Exercism which has [just been released](https://exercism.org/blog/exercism-v3-has-launched).

Thanks everyone for chipping in! It has been greatly appreciated.

[2021-09-02 13:13] #112 closed, assigned to nobody

[2021-09-02 13:17] ErikSchierboom commented on #119
With Exercism v3 [just being released](https://exercism.org/blog/exercism-v3-has-launched), tracks are no longer in maintenance mode and are active again.
This means that changes made to this track will once again show on the website.

Thanks for being patient with us and enjoy Exercism v3!

[2021-09-02 13:17] #119 closed, assigned to nobody

[2021-11-11 21:05] kotp commented on #58
#166 is being worked, almost complete at this moment.

[2021-11-12 07:33] #58 closed, assigned to nobody

[2021-11-12 14:45] KalebHawkins commented on #156
Working on this not sure how to claim it as in-progress.

[2021-11-12 14:50] glennj commented on #156
You can assign it to yourself.

[2021-11-12 14:51] ErikSchierboom commented on #156
@glennj I don't think @KalebHawkins has the permissions to do that. I've done it for you.

[2021-11-12 14:52] KalebHawkins commented on #156
@ErikSchierboom  Thanks!

[2021-11-12 17:17] #156 closed, assigned to KalebHawkins

[2021-11-24 22:14] coryrwest commented on #153
I could be wrong, but it seems that this is already done for this repo. I see a tests file here (https://github.com/exercism/powershell/tree/main/exercises/shared/.docs) with what seems like correct information.

[2021-11-25 06:33] #153 closed, assigned to nobody

[2022-05-24 13:07] hkbertoson commented on #155
Opened #178 for this.

[2022-05-24 14:24] #155 closed, assigned to nobody

[2022-11-17 13:52] kytrinyx commented on #65
@Hanimn @gyssels Are either of you planning on doing work on this track?

If so, please check in here: https://github.com/exercism/powershell/pull/179

[2022-11-19 10:36] #1 closed, assigned to nobody

[2022-11-19 10:36] #4 closed, assigned to nobody

[2022-11-19 10:36] #36 closed, assigned to nobody

[2022-11-19 10:36] #47 closed, assigned to gyssels

[2022-11-19 10:36] #65 closed, assigned to gyssels

[2022-11-19 10:36] #123 closed, assigned to nobody

[2022-11-19 10:36] #124 closed, assigned to nobody

[2022-11-19 10:36] #125 closed, assigned to nobody

[2022-11-19 10:36] #126 closed, assigned to nobody

[2022-11-19 10:36] #127 closed, assigned to nobody

[2022-11-19 10:36] #129 closed, assigned to nobody

[2022-11-19 10:36] #131 closed, assigned to nobody

[2022-11-19 10:36] #152 closed, assigned to nobody

[2022-11-19 10:36] #154 closed, assigned to nobody